body{
    font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:#1D262E;
    font-size: 14px;
    background: #F5F8FA;
    margin:0;
    padding:0;
    overflow-y: scroll;
}
*{
  box-sizing: border-box;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,tr,td {
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
a{text-decoration:none;color:#333;}
a:hover,a:focus{text-decoration: none;}
input,textarea,button{border:none;outline: none;font-size: 14px;}
button{cursor: pointer;font-size: 14px;}
input{
  text-indent: 5px;
}
img{
  border:none;
  height:auto;
  max-width:100%;
  vertical-align:middle;
}
i, cite, em, var, address, dfn{
  font-style: normal;
}
p{line-height: 20px;}
table{
  border-collapse: collapse;
  border-spacing: 0;
}